.click{
    cursor: pointer;
}

.chat-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    margin: auto;
    width: 50%;
}

.chat{
    margin: auto;
    width: 50%;
    padding: 40px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}